name: Multi-Stage CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-south-1

jobs:

  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # --- AWS AUTH ---
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # --- LOGIN TO ECR ---
      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # --- EXPORT ECR REGISTRY TO ENV ---
      - name: Export ECR Registry
        run: echo "ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}" >> $GITHUB_ENV

      # --- BUILD USING DOCKER COMPOSE ---
      - name: Build Images From Compose
        uses: hoverkraft-tech/compose-action@v2.0.0
        with:
          compose-file: "./compose.yaml"
          command: build

      # --- PUSH IMAGES TO ECR ---
      - name: Push Images to ECR
        run: docker compose -f ./compose.yaml push


  docker-test:
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # --- START CONTAINERS FOR TESTING ---
      - name: Start Containers
        run: docker compose -f ./compose.yaml up -d

      # --- SMOKE TEST ---
      - name: Run Smoke Test
        run: |
          chmod +x smoke-test.sh
          ./smoke-test.sh

      # --- INTEGRATION TEST ---
      - name: Run Integration Test
        run: |
          chmod +x integration-test.sh
          ./integration-test.sh

      # --- STOP ---
      - name: Stop Test Containers
        run: docker compose -f ./compose.yaml down


  docker-deploy:
    runs-on: ubuntu-latest
    needs: docker-test

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      # --- DEPLOY TO EC2 USING SSM ---
      - name: Deploy to EC2 via SSM
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --targets "Key=instanceIds,Values=${{ secrets.INSTANCE_IDS }}" \
            --parameters 'commands=[
              "echo Logging into ECR...",
              "aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin '${{ secrets.ECR_URL }}'",
              
              "mkdir -p /home/ubuntu/app",
              "cd /home/ubuntu/app",

              "echo Pulling latest images...",
              "docker compose pull",

              "echo Restarting containers...",
              "docker compose up -d --remove-orphans"
            ]' \
            --timeout-seconds 600
